/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 128, 64);
    padding: 20px;
}

h1 {
    color: rgb(0, 128, 255);
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(128, 64, 64); /* Couleur bleue */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.button:hover {
    background-color: #0056b3; /* Bleu foncé au survol */
}